#tiga{
    .bawah{
        .isibawah{
            margin: 100px 0 0 0;
            h1{
                text-align: center;
                font-size: 30px; 
            }
            p{
                text-align: center;
                font-size: 30px;  
            }
        }
    }
    
}
.conten{
    .isi-conten{
        display: flex;
        margin: 100px 0 0 0;
        padding: 0 150px;  
    }
    button{
        margin: 20px auto;
        padding: 10px;
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
    }
}